@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
  -webkit-appearance: none;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.main .icon {
  width: 34px;
}
.main h1 {
  width: 100px;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
.main h6 {
  text-align: center;
  font-size: 12px;
  line-height: 40px;
  color: #202123;
  margin: 16px 0 40px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
.main input[type="text"],
.main input[type="number"],
.main select {
  padding: 12px 16px;
  border: 1px solid green;
  border-radius: 4px;
  margin-bottom: 12px;
  margin-top: 4px;
  -webkit-appearance: none;
}
.main .loading {
  align-self: center;
  margin-top: 10px;
  width: 200px;
}
.main .center {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: green; 
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.main .result {
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-top: 80px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(211, 237, 220);
  width: 90%;
}
.main .right {
  float: right;
  padding: 10px;
  margin-top: 0px;
}
main .button {
  background-color: green;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  -webkit-appearance: none;
}
.main .heroImage {
  width: 100px;
  margin-top: 20px;
}
.main .required{
  color: red;
}